@media (max-width: 960px)
{
  .mat-toolbar-row, .mat-toolbar-single-row{
    height: auto;
  }
}

mat-grid-tile {
  background: lightblue;
}

.search-input{
  width: 300px;
}

.search-input ::placeholder{
  color: #ffffff;
}

.logo{
  height: 50px;
  width: auto;
  margin-top: 5px;  
}