<!-- <div class="container">
    <mat-toolbar color="primary">        
        <mat-form-field appearance="fill">
            <mat-label>Input</mat-label>
            <input matInput name="search" id="search" (input)="searchValue($event.target)">
        </mat-form-field>
        <button mat-button color="Second">{{button}}</button>
    </mat-toolbar>
</div> -->

<mat-toolbar fxLayout.gt-sm="row" color="primary" fxShow.gt-sm=true fxShow="false">
    <span fxFlex="10" fxLayoutAlign="center center">Logo</span>
    <div fxFlex="30" fxLayoutAlign="star center">
        <button mat-button><mat-icon class="mr">supervisor_account</mat-icon></button>        
        <button mat-button>0.00 Pts.</button>
    </div>
    <div fxFlex="20" style="text-align: center;">
        <mat-form-field appearance="standard" class="search-input">            
            <input type="search" matInput name="search" id="search" (input)="searchValue($event.target)" placeholder="search" autocomplete="off" mat-button [matMenuTriggerFor]="itemList">
            <mat-icon matSuffix>search</mat-icon>
            <mat-menu #itemList="matMenu">
                <button *ngFor="let itemList of button" mat-menu-item>{{itemList}}</button>
            </mat-menu>
        </mat-form-field>
        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon class="mr">filter_list</mat-icon>
        </button>
        <button mat-button [matMenuTriggerFor]="language">
            <mat-icon class="mr">translate</mat-icon>Español
        </button>
        
    </div>
    <div fxFlex="40" style="text-align: end;">
        <button mat-button *ngFor="let item of menuItems" 
            [fxShow]="item.showOnDesktop" 
            [fxShow.xs]="item.showOnMobile"
            [fxShow.sm]="item.showOnTablet">
            <mat-icon class="mr">{{item.icon}}</mat-icon>
            {{item.label}}
        </button>
        <ng-container>
            <button mat-icon-button [matMenuTriggerFor]="dropMenu">
                <!-- <mat-icon>more_vert</mat-icon> -->
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #dropMenu="matMenu">
                <ng-container *ngFor="let item of menuItems">
                    <div [fxShow]="!item.showOnDesktop" 
                        [fxShow.sm]="!item.showOnTablet" 
                        [fxShow.xs]="!item.showOnMobile">
                        <button mat-menu-item>
                            <mat-icon class="mr">{{item.icon}}</mat-icon>
                            {{item.label}}
                        </button>
                        <mat-divider></mat-divider>
                    </div>
                </ng-container>
            </mat-menu>
        </ng-container>
    </div>
</mat-toolbar>

<mat-toolbar fxLayout="column" fxShow.gt-sm=false fxShow=true color="primary">
    <div fxLayout="row" style="width: 100%;">
        <span fxFlex.lt-xl="20%"  fxLayoutAlign="start center">Logo</span>
        <div fxFlex.lt-xl="70%" fxLayoutAlign="center center" fxShow.xs=false>
            <mat-form-field appearance="standard" class="search-input">            
                <input type="search" matInput name="search" id="search" (input)="searchValue($event.target)" placeholder="search" autocomplete="off" mat-button [matMenuTriggerFor]="itemList">
                <mat-icon matSuffix>search</mat-icon>
                <mat-menu #itemList="matMenu">
                    <button *ngFor="let itemList of button" mat-menu-item>{{itemList}}</button>
                </mat-menu>
            </mat-form-field>
            <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon class="mr">filter_list</mat-icon>
            </button>
        </div>
        <div fxFlex fxLayoutAlign="end center">
            <button mat-button [matMenuTriggerFor]="language">
                <mat-icon class="mr">translate</mat-icon>Español
            </button>
            <button mat-button *ngFor="let item of menuItems" 
                [fxShow]="item.showOnDesktop" 
                [fxShow.xs]="item.showOnMobile"
                [fxShow.sm]="item.showOnTablet">
                <mat-icon class="mr">{{item.icon}}</mat-icon>
                {{item.label}}
            </button>
            <ng-container>
                <button mat-icon-button [matMenuTriggerFor]="dropMenu">                    
                    <mat-icon>menu</mat-icon>
                </button>
                <mat-menu #dropMenu="matMenu">
                    <ng-container *ngFor="let item of menuItems">
                        <div [fxShow]="!item.showOnDesktop" 
                            [fxShow.sm]="!item.showOnTablet" 
                            [fxShow.xs]="!item.showOnMobile">
                            <button mat-menu-item>
                                <mat-icon class="mr">{{item.icon}}</mat-icon>
                                {{item.label}}
                            </button>
                            <mat-divider></mat-divider>
                        </div>
                    </ng-container>
                    <ng-container>
                        <div [fxShow]=false
                            [fxShow.xs]=true
                            [fxShow.sm]=true>
                            <button mat-menu-item>
                                <mat-icon class="mr">supervisor_account</mat-icon>
                                Referidos
                            </button>
                            <mat-divider></mat-divider>
                        </div>
                    </ng-container>                   
                    <ng-container>
                        <div [fxShow]=false
                            [fxShow.xs]=true
                            [fxShow.sm]=true>
                            <button mat-menu-item>0.00 Pts.</button>
                            <mat-divider></mat-divider>
                        </div>
                    </ng-container>                
                </mat-menu>
            </ng-container>
        </div>
    </div>
    <div fxLayout="row" fxShow=true fxShow.gt-xs=false>
        <div fxFlex.lt-xl="100" fxLayoutAlign="center center">
            <mat-form-field appearance="standard" class="search-input">            
                <input type="search" matInput name="search" id="search" (input)="searchValue($event.target)" placeholder="search" autocomplete="off" mat-button [matMenuTriggerFor]="itemList">
                <mat-icon matSuffix>search</mat-icon>
                <mat-menu #itemList="matMenu">
                    <button *ngFor="let itemList of button" mat-menu-item>{{itemList}}</button>
                </mat-menu>
            </mat-form-field>
            <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon class="mr">filter_list</mat-icon>
            </button>
        </div>
    </div>
</mat-toolbar>

<mat-menu #dropMenu="matMenu">
    <ng-container *ngFor="let item of menuItems">
        <div [fxShow]="!item.showOnDesktop" 
            [fxShow.sm]="!item.showOnTablet" 
            [fxShow.xs]="!item.showOnMobile">
            <button mat-menu-item>
                <mat-icon class="mr">{{item.icon}}</mat-icon>
                {{item.label}}
            </button>
            <mat-divider></mat-divider>
        </div>
    </ng-container>
    <ng-container>
        <div [fxShow]=false
            [fxShow.xs]=true
            [fxShow.sm]=true>
            <button mat-menu-item>
                <mat-icon class="mr">supervisor_account</mat-icon>
                Referidos
            </button>
            <mat-divider></mat-divider>
        </div>
    </ng-container>
    <ng-container>
        <div [fxShow]=false
            [fxShow.xs]=true
            [fxShow.sm]=true>
            <button mat-button [matMenuTriggerFor]="language">
                <mat-icon class="mr">translate</mat-icon>Español
            </button>
            <mat-divider></mat-divider>
        </div>
    </ng-container>
    <ng-container>
        <div [fxShow]=false
            [fxShow.xs]=true
            [fxShow.sm]=true>
            <button mat-menu-item>0.00 Pts.</button>
            <mat-divider></mat-divider>
        </div>
    </ng-container>                
</mat-menu>

<mat-menu #menu="matMenu">
    <button mat-button matTooltip="Publicaciones" style="color: #2196f3;"><mat-icon class="mr">assignment_ind</mat-icon></button>
    <button mat-button matTooltip="Usuarios" style="color: #2196f3;"><mat-icon class="mr">supervised_user_circle</mat-icon></button>
    <button mat-button matTooltip="Ofertas de trabajo" style="color: #2196f3;"><mat-icon class="mr">work</mat-icon></button>
</mat-menu>

<mat-menu #language="matMenu">
    <button mat-menu-item>Español</button>
    <button mat-menu-item>Inglés</button>
</mat-menu>