.margin {
    margin: 0 10px;
    color: gray;
}

.container-img {
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 100%;
    background-size: cover;
    background-position: center center;
    margin: auto;
}

@media(max-width:620px){
    .container-img{
        width: 300px;
        height: 300px;
    }
}

@media(max-width:960px){
    .container-img{
        width: 315px;
        height: 315px;
    }
}

.profile-image {
    text-align: center;
    margin: auto;
}

.img-perfil {
    height: 400px;
    width: auto;    
}

h1, h2, h3, h4 {text-align: center;}

.form-control, .form-field {
    width: 100%;
}

:host ::ng-deep {
    .mat-tab-group {
        flex-direction: row;
    }
    .mat-tab-header {
        border-bottom: none;
    }
    .mat-tab-header-pagination {
        display: none !important;
    }
    .mat-tab-labels {
        flex-direction: column;
    }
    .mat-ink-bar {
        height: 100%;
        left: 98% !important;
    }
    .mat-tab-body-wrapper {
        flex: 1 1 auto;
        padding-left: 5%;
    }
    @media(min-width:960px){
        .mat-tab-label-container{
            min-height: 400px;
        }
    }
    .mat-list-item-content{
        margin: auto;
        width: fit-content;
    }
}

